img {
  border: none; /* Remove borders */
  color: white; /* White text */
  margin-left: 200px;
  width: 1000px;
  cursor: pointer; /* Mouse pointer on hover */
}

.container {
  position: relative;
  width: 70%;
  text-align: center;
}

.container img {
  width: 100%;
  height: auto;
}

.container .one {
  position: absolute;
  top: 18%;
  left: 42%;
}

.container .two {
  position: absolute;
  top: 13%;
  left: 56%;
}

.container .three {
  position: absolute;
  top: 30%;
  left: 45%;
}

.container .four {
  position: absolute;
  top: 25%;
  left: 58%;
}
.container .five {
  position: absolute;
  top: 37%;
  left: 42%;
}
.container .six {
  position: absolute;
  top: 34%;
  left: 53%;
}
.container .seven {
  position: absolute;
  top: 41%;
  left: 47%;
}
.container .eight {
  position: absolute;
  top: 38%;
  left: 63%;
}
.container .nine {
  position: absolute;
  top: 28%;
  left: 68%;
}
.container .ten {
  position: absolute;
  top: 40%;
  left: 70%;
}
.container .eleven {
  position: absolute;
  top: 10%;
  left: 69%;
}
.container .twelve {
  position: absolute;
  top: 6%;
  left: 86%;
}
.container .thirteen {
  position: absolute;
  top: 20%;
  left: 72%;
}
.container .fourteen {
  position: absolute;
  top: 17%;
  left: 89%;
}
.container .fifteen {
  position: absolute;
  top: 30%;
  left: 76%;
}
.container .sixteen {
  position: absolute;
  top: 25%;
  left: 94%;
}
.container .seventeen {
  position: absolute;
  top: 45%;
  left: 80%;
}
.container .eighteen {
  position: absolute;
  top: 42%;
  left: 98%;
}

.container .material-icons:hover {
  color: black;
}

i {
  cursor: pointer;
  color: #ff0000;
  width: 100px;
  height: 100px;
}
.material-icons {
  font-size: 48px;
}

h1 {
  position: absolute;
}
