.createContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mintcream;
}

.ImgUpload{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px lightgray;
}

.ImgUpload label{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 80;
}

.ImgUpload input{
  width: 200px;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ImgUpload button{
  margin-top: 40px;
  width: 80px;
  height: 40px;
  margin-top: 10px;
}