@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.container ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.container li {
  float: left;
  display: inline;
  margin: 10px;
  padding: 20px;
  display: block;
}

.container li Navlink {
  display: block;
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  background-color: lemonchiffon;
  width: 100%;
  box-shadow: 2px 2px 5px black;
  justify-content: flex-end;
}

.container .pawprint_header {
  background-color: lemonchiffon;
  font-size: xx-large;
  font-family: "Patrick Hand SC", cursive;
  vertical-align: middle;
  display: flex;
  align-items: center;
  color: black;
}

.container .pawprint_logo {
  width: 150px;
}

.container .nav-link {
  color: rgb(68, 107, 235);
  font-size: 26px;
  font-family: Patrick Hand SC, cursive;
}
