.postContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mintcream;
}

.postButtons {
  display: flex;
}

.user_post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: contain;
  width: 600px;
  margin-bottom: 30px;
  border: 1px solid lightgray;
  max-width: 600px;
  background-color: white;
  box-shadow: 2px 2px 5px lightgray;
}

.user_post button{
  align-content: flex-end;
}

.username_header {
  font-size: 120%;
  font-family:'Ribbon';
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 50px;
  box-shadow: 1px 1px 2px lightgray;
}

.username_logo {
  width: 50px;
  padding-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 100%;
}

.post_image {
  margin-top: 5px;
  max-width: 600px;
  flex-direction:column;
  justify-content: center;
  box-shadow: 1px 1px 2px lightgray;
  object-fit: contain;
}

.post_image img{
  width: 600px;
  height: auto;
}

.user_caption {
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 120%;
}

.icons {
  display: inline-block;
}

.icon {
  display: inline;
  width: 40px;
  padding-left: 2px;
}

.likes {
  padding-left: 4px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-size: 120%;
}

.Post{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Name{
  display: flex;
  align-items: center;
  color:#003B5C;
  font-size: 30px;
}

.powell{
  display: flex;
  margin-top: 20px;
  color:royalblue;
  font-size: 30px;
}

.Take{
  display: flex;
  margin-top: 20px;
  color:turquoise;
  font-size: 30px;
  margin-bottom: 30px;
}

.delete_post{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  align-items: right;
}