img {
  border: none; /* Remove borders */
  color: white; /* White text */
  margin-left: 200px;
  width: 1000px;
  cursor: pointer; /* Mouse pointer on hover */
}

.update {
  position: relative;
  width: 70%;
  text-align: center;
  background-color: white;
}

.update img {
  width: 100%;
  height: auto;
}

.update .one {
  position: absolute;
  top: 18%;
  left: 42%;
}

.update .two {
  position: absolute;
  top: 13%;
  left: 56%;
}

.update .three {
  position: absolute;
  top: 30%;
  left: 45%;
}

.update .four {
  position: absolute;
  top: 25%;
  left: 58%;
}
.update .five {
  position: absolute;
  top: 37%;
  left: 42%;
}
.update .six {
  position: absolute;
  top: 34%;
  left: 53%;
}
.update .seven {
  position: absolute;
  top: 41%;
  left: 47%;
}
.update .eight {
  position: absolute;
  top: 38%;
  left: 63%;
}
.update .nine {
  position: absolute;
  top: 28%;
  left: 68%;
}
.update .ten {
  position: absolute;
  top: 40%;
  left: 70%;
}
.update .eleven {
  position: absolute;
  top: 10%;
  left: 69%;
}
.update .twelve {
  position: absolute;
  top: 6%;
  left: 86%;
}
.update .thirteen {
  position: absolute;
  top: 20%;
  left: 72%;
}
.update .fourteen {
  position: absolute;
  top: 17%;
  left: 89%;
}
.update .fifteen {
  position: absolute;
  top: 30%;
  left: 76%;
}
.update .sixteen {
  position: absolute;
  top: 25%;
  left: 94%;
}
.update .seventeen {
  position: absolute;
  top: 45%;
  left: 80%;
}
.update .eighteen {
  position: absolute;
  top: 42%;
  left: 98%;
}

.update .material-icons:hover {
  color: black;
}

i {
  cursor: pointer;
  color: #ff0000;
}
.material-icons {
}

h1 {
  position: absolute;
  padding: 10px;
}
